<!DOCTYPE html>
<html lang="en" ng-app="wutu">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="/wutu.js"></script>
</head>
<body>
    <div ng-controller="TestModuleController">
        <div class="note-block" ng-repeat="row in note_list">
            <span class="note-text">{{ row.text }}</span> <button class="node-delete" ng-click="delete_note(row.id)">-</button>
        </div>
        <form ng-submit="create_note(note)">
            <input id="note-field" ng-model="note.text" type="text"/>
            <input type="submit" value="Add"/>
        </form>
    </div>
</body>
</html>